@import url('./menu.css');
@import url('./chat.css');

*{
    margin: 0;
    padding: 0;
}

.scene{
    width: 100%;
    height: 100vh;
    background-color: black;
    
}
.assistant{
    background-position:center;
    width: clamp(300px, 100%, 1300px);
    height: clamp(200px, 100vh, 880px);
    margin: auto;
    position: relative;
}

.menu{
    width: 5%;
    position: absolute;
    top: 5px;
    right: 8px;
}

.logo-button{
    width: 100%;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.314);
    cursor: pointer;
    margin-top: 10px;
    background-size: 100%;
    transition: transform 2s, background-size 2s;
    
}
.logo-button:hover{
    transform: scale(1.2);
    background-size: 80%;
}
.stackoverflow{
    background: url('./logo/stackoverflow-color-svgrepo-com.svg') no-repeat;
    background-size: cover;
    background-position:center;
    background-color: rgba(255, 255, 255, 0.519);
 
}
.review {
    background: url('./logo/review-file-svgrepo-com.svg') no-repeat;
    background-size: cover;
    background-position:center;
    background-color: rgba(255, 255, 255, 0.519);
}

.tchat{
    background: url('./logo/chat-round-line-svgrepo-com.svg') no-repeat;
    background-size: cover;
    background-position:center;
    background-color: rgba(255, 255, 255, 0.519);
}

.tasks{
    background: url('./logo/task-svgrepo-com.svg') no-repeat;
    background-size: cover;
    background-position:center;
    background-color: rgba(255, 255, 255, 0.519);
}