body {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  img {
    width: 50%;
    height: 50%;
  }
  
  div {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .radmenu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .radmenu > a {
    top: calc(5% - 20px);
    left: calc(5% - 20px);
  }
  
  .radmenu > a.show {
    display: flex !important;
  }

  .radmenu li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: all 1s ease;
  }
  
  .radmenu a {
    position: absolute;
    width: 120px;
    height: 120px;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /*border-top-left-radius: 100%50px;
    border-bottom-right-radius: 100%50px;*/
    /*120px*/
    display: none;
    text-decoration: none;
    color: #333;
    transition: all 1s ease;
    box-shadow: 0 0 15px #222;
    font-family: "segoe ui";
    font-weight: 200;
    font-size: 16px;
  }
  
  .radmenu .selected {
    background: rgba(51, 51, 51, 0.9);
    display: flex;
    top: calc(50% - 400px);
    left: calc(50% - 600px);
    color: #f1f1f1;
    box-shadow: 0 0 10px #f1f1f1;
  }


  .radmenu ul {
    list-style-type: none;
  }
  
  .radmenu .selected + ul > li:nth-child(1) {
    -webkit-transform: rotate(-90deg) translateX(90px);
    transform: rotate(-90deg) translateX(90px);
  }
  
  .radmenu .selected + ul > li:nth-child(1) > a {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .radmenu .selected + ul > li:nth-child(2) {
    -webkit-transform: rotate(216deg) translateX(100px);
    transform: rotate(216deg) translateX(100px);
   
  }
  
  .radmenu .selected + ul > li:nth-child(2) > a {
    -webkit-transform: rotate(-216deg);
    transform: rotate(-216deg);
  }
  
  .radmenu .selected + ul > li:nth-child(3) {
    -webkit-transform: rotate(155deg) translateX(70px);
    transform: rotate(155deg) translateX(70px);
  }
  
  .radmenu .selected + ul > li:nth-child(3) > a {
    -webkit-transform: rotate(-155deg);
    transform: rotate(-155deg);
  }
  
  .radmenu .selected + ul > li:nth-child(4) {
    -webkit-transform: rotate(-250deg) translateX(110px);
    transform: rotate(-250deg) translateX(110px);
  }
  
  .radmenu .selected + ul > li:nth-child(4) > a {
    -webkit-transform: rotate(250deg);
    transform: rotate(250deg);
  }
  
  .radmenu .selected + ul > li:nth-child(5) {
    -webkit-transform: rotate(270deg) translateX(-210px);
    transform: rotate(270deg) translateX(-210px);
  }
  
  .radmenu .selected + ul > li:nth-child(5) > a {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }

  .radmenu .selected + ul > li:nth-child(6) {
    -webkit-transform: rotate(205deg) translateX(-190px);
    transform: rotate(205deg) translateX(-190px);
  }

  .radmenu .selected + ul > li:nth-child(6) > a {
    -webkit-transform: rotate(-205deg);
    transform: rotate(-205deg);
  }
  
  .radmenu .selected + ul > li > a {
    display: flex;
  }
  
  
  /**/