*{
    padding: 0;
    margin: 0;
}

body{
    background: #eaeaea;
    overflow: hidden;
}

.invisible{
    display: none;
}

.header{
    height: 5vh;
    padding: 10px;
    background: #000;
    color: #eaeaea;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#title-link{
    text-decoration: none;
    color: #fff;
}

#title-link:hover{
    color: lightcoral;
}

.nav{
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-self: center;
}

.nav-li{
    cursor: pointer;
    color: #fff;
  
}

.nav-li:hover{
    color: lightcoral;
    
}

.nav-a{
    text-decoration: none;
    color: #fff;
}

.nav-a:hover{
    color: lightcoral;
}

#adminLinkSettings{
    display: none;
}

.main-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.menu{
    height: 100vh;
    width: 30%;
    overflow: auto;
    background-color: #eaeaea;
}

.custom{
    width: 70%;
    padding: 20px;
    overflow: auto;
}

.connect-input{
    padding: 5px;
    border: none;
}

.connect-button{
    padding: 5px;
    background: lightcoral;
    border: none;
}

.lang-title{
    margin: 20px;
}

#flex{
    font-display: flex;
}

#generate{
    position: absolute;
    right: 1%;
    bottom: 120px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    background: lightblue;
    border: none;
    display: none;

}

#dialog{
    width: 600px;
    height: 100px;
    position: absolute;
    right: 10px;
    bottom: 70px;
    background: #eaeaea;
    display: none;
}


#close-dialog{
    padding: 3px;
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
    
}

#repo-url{
    font-size: 13px;
    padding: 10px;
}

#close-button{
    color: lightcoral;
    cursor: pointer;
}

#show-languages{
    display: none;
}

#markdownPreview{
    width: 70%;
    height: 100vh;
    margin: auto;
    background-color: #fff;
    overflow-y:scroll;
}

.assistant-link{
    display: none;
}